[submodule "08_Dart_Sample"]
	path = 08_Dart_Sample
	url = https://github.com/cyndibaby905/08_Dart_Sample
[submodule "11_Flutter_lifecycle"]
	path = 11_Flutter_lifecycle
	url = https://github.com/cyndibaby905/11_Flutter_lifecycle
[submodule "13_listview_demo"]
	path = 13_listview_demo
	url = https://github.com/cyndibaby905/13_listview_demo
[submodule "15_custom_ui_demo"]
	path = 15_custom_ui_demo
	url = https://github.com/cyndibaby905/15_custom_ui_demo
[submodule "19_gesture_demo"]
	path = 19_gesture_demo
	url = https://github.com/cyndibaby905/19_gesture_demo
[submodule "20_data_transfer"]
	path = 20_data_transfer
	url = https://github.com/cyndibaby905/20_data_transfer
[submodule "21_router_demo"]
	path = 21_router_demo
	url = https://github.com/cyndibaby905/21_router_demo
[submodule "22_app_animation"]
	path = 22_app_animation
	url = https://github.com/cyndibaby905/22_app_animation
[submodule "31_flutter_push_plugin"]
	path = 31_flutter_push_plugin
	url = https://github.com/cyndibaby905/31_flutter_push_plugin
[submodule "31_flutter_push_demo"]
	path = 31_flutter_push_demo
	url = https://github.com/cyndibaby905/31_flutter_push_demo
[submodule "32_i18n_demo"]
	path = 32_i18n_demo
	url = https://github.com/cyndibaby905/32_i18n_demo
[submodule "29_ios_hybrid_demo"]
	path = 29_ios_hybrid_demo
	url = https://github.com/cyndibaby905/29_ios_hybrid_demo
[submodule "29_android_hybrid_demo"]
	path = 29_android_hybrid_demo
	url = https://github.com/cyndibaby905/29_android_hybrid_demo
[submodule "29_flutter_module_page"]
	path = 29_flutter_module_page
	url = https://github.com/cyndibaby905/29_flutter_module_page
[submodule "27_native_view"]
	path = 27_native_view
	url = https://github.com/cyndibaby905/27_native_view
[submodule "26_native_method"]
	path = 26_native_method
	url = https://github.com/cyndibaby905/26_native_method
[submodule "24_network_demo"]
	path = 24_network_demo
	url = https://github.com/cyndibaby905/24_network_demo
[submodule "23_dart_async"]
	path = 23_dart_async
	url = https://github.com/cyndibaby905/23_dart_async
[submodule "25_data_persistence"]
	path = 25_data_persistence
	url = https://github.com/cyndibaby905/25_data_persistence
[submodule "28_module_page"]
	path = 28_module_page
	url = https://github.com/cyndibaby905/28_module_page
[submodule "28_AndroidDemo"]
	path = 28_AndroidDemo
	url = https://github.com/cyndibaby905/28_AndroidDemo
[submodule "28_iOSDemo"]
	path = 28_iOSDemo
	url = https://github.com/cyndibaby905/28_iOSDemo
[submodule "30_provider_demo"]
	path = 30_provider_demo
	url = https://github.com/cyndibaby905/30_provider_demo
[submodule "33_multi_screen_demo"]
	path = 33_multi_screen_demo
	url = https://github.com/cyndibaby905/33_multi_screen_demo
[submodule "34_multi_env"]
	path = 34_multi_env
	url = https://github.com/cyndibaby905/34_multi_env
[submodule "39_flutter_crash_plugin"]
	path = 39_flutter_crash_plugin
	url = https://github.com/cyndibaby905/39_flutter_crash_plugin
[submodule "39_crashy_demo"]
	path = 39_crashy_demo
	url = https://github.com/cyndibaby905/39_crashy_demo
